<a href="https://colab.research.google.com/github/ThamyresChristine/BigData_Mackenzie/blob/main/Paradig_Linguagem_Prog_Trilha4_Tarefa_Thamyres_Andrade_Soares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Análise da População e Economia Brasileira (2000-2018)**

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#**População Total**

In [86]:
#**População Total**
url_1 = 'https://raw.githubusercontent.com/ThamyresChristine/BigData_Mackenzie/main/population_total.csv'
df_1 = pd.read_csv(url_1)
Bra1 = df_1[ df_1.country == 'Brazil' ]
Bra1.head()
selected_Bra1 = Bra1[['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]

selected_Bra1.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,177M,180M,182M,184M,186M,188M,190M,192M,194M,196M,198M,199M,201M,203M,204M,206M,208M,209M,211M

#**Crescimento Anual da População (%)**

In [90]:
#**Crescimento Anual da População (%)**
url_2 = 'https://raw.githubusercontent.com/ThamyresChristine/BigData_Mackenzie/main/population_growth_annual_percent.csv'
df_2 = pd.read_csv(url_2)
Bra2 = df_2[ df_2.country == 'Brazil' ]
Bra2.head()
selected_Bra2 = Bra2[['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]
selected_Bra2.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
26,1.37,1.31,1.26,1.2,1.15,1.09,1.04,0.994,0.962,0.938,0.916,0.894,0.874,0.856,0.839,0.824,0.807,0.784,0.752,0.713

#**Inflação Anual(%)**

In [92]:
#**Inflação Anual(%)**
url_6 = 'https://raw.githubusercontent.com/ThamyresChristine/BigData_Mackenzie/main/inflation_annual_percent.csv'
df_6 = pd.read_csv(url_6)
Bra6 = df_6[ df_6.country == 'Brazil' ]
Bra6.head()
selected_Bra6 = Bra6[['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]

selected_Bra6.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
26,8.23,9.8,14.1,7.75,7.43,6.77,6.44,8.78,7.31,8.42,8.32,7.94,7.5,7.85,7.57,8.1,3.67,4.49,4.28

#**PIB per capita corrigido pela inflação**

In [91]:
#**PIB per capita corrigido pela inflação**
url_7 = 'https://raw.githubusercontent.com/ThamyresChristine/BigData_Mackenzie/main/income_per_person_gdppercapita_ppp_inflation_adjusted.csv'
df_7 = pd.read_csv(url_7)
Bra7 = df_7[ df_7.country == 'Brazil' ]
Bra7.head() 
selected_Bra7 = Bra7[['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]

selected_Bra7.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,11.6k,11.8k,11.8k,12.3k,12.6k,12.9k,13.6k,14.1k,14k,14.9k,15.3k,15.5k,15.8k,15.7k,15.1k,14.4k,14.5k,14.6k,14.7k

#**Desigualdade de Renda (Gini)**
**O Gini mostra a desigualdade de renda na sociedade. Quanto maior o parâmetro, maior a desigualdade**

In [93]:
#**Desigualdade de Renda (Gini)**
#**O Gini mostra a desigualdade de renda na sociedade. Quanto maior o parâmetro, maior a desigualdade**
url_8 = 'https://raw.githubusercontent.com/ThamyresChristine/BigData_Mackenzie/main/gini.csv'
df_8 = pd.read_csv(url_8)
Bra8 = df_8[ df_8.country == 'Brazil' ]
Bra8.head()
selected_Bra8 = Bra8[['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]

selected_Bra8.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,58.4,58.1,57.6,56.5,56.3,55.6,54.9,54.0,53.7,53.3,53.0,53.5,52.8,52.1,51.9,53.3,53.3,53.9,53.4